<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<context-param>
		<description>1</description>
		<param-name>encode</param-name>
		<param-value>utf-8</param-value>
	</context-param>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	
	<listener>
		<listener-class>com.zl.listener.MyHSessionListener</listener-class>
	</listener>
	
	<filter>
		<description>2</description>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>com.zl.filter.EncodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<description>3</description>
		<filter-name>AutoLoginFilter</filter-name>
		<filter-class>com.zl.filter.AutoLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutoLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<description>4</description>
		<filter-name>PrivilegeFilter</filter-name>
		<filter-class>com.zl.filter.PrivilegeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrivilegeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>ValiImg</servlet-name>
		<servlet-class>com.zl.web.ValiImg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>com.zl.web.RegistServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActiveServlet</servlet-name>
		<servlet-class>com.zl.web.ActiveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.zl.web.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.zl.web.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddprodServlet</servlet-name>
		<servlet-class>com.zl.web.AddprodServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProdListServlet</servlet-name>
		<servlet-class>com.zl.web.ProdListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImgServlet</servlet-name>
		<servlet-class>com.zl.web.ImgServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProdInfoServlet</servlet-name>
		<servlet-class>com.zl.web.ProdInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCartServlet</servlet-name>
		<servlet-class>com.zl.web.AddCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelCartServlet</servlet-name>
		<servlet-class>com.zl.web.DelCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeCartServlet</servlet-name>
		<servlet-class>com.zl.web.ChangeCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClearCartServlet</servlet-name>
		<servlet-class>com.zl.web.ClearCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddOrderServlet</servlet-name>
		<servlet-class>com.zl.web.AddOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderListServlet</servlet-name>
		<servlet-class>com.zl.web.OrderListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelOrderServlet</servlet-name>
		<servlet-class>com.zl.web.DelOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PayServlet</servlet-name>
		<servlet-class>com.zl.web.PayServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Callback</servlet-name>
		<servlet-class>com.zl.web.Callback</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaleListServlet</servlet-name>
		<servlet-class>com.zl.web.SaleListServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>ValiNameServlet</servlet-name>
    <servlet-class>com.zl.web.ValiNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadMsgServlet</servlet-name>
    <servlet-class>com.zl.web.UploadMsgServlet</servlet-class>
  </servlet>


























	<servlet-mapping>
		<servlet-name>ValiImg</servlet-name>
		<url-pattern>/ValiImg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/RegistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActiveServlet</servlet-name>
		<url-pattern>/ActiveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddprodServlet</servlet-name>
		<url-pattern>/AddprodServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProdListServlet</servlet-name>
		<url-pattern>/ProdListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImgServlet</servlet-name>
		<url-pattern>/ImgServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProdInfoServlet</servlet-name>
		<url-pattern>/ProdInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCartServlet</servlet-name>
		<url-pattern>/AddCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelCartServlet</servlet-name>
		<url-pattern>/DelCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeCartServlet</servlet-name>
		<url-pattern>/ChangeCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClearCartServlet</servlet-name>
		<url-pattern>/ClearCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddOrderServlet</servlet-name>
		<url-pattern>/AddOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderListServlet</servlet-name>
		<url-pattern>/OrderListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelOrderServlet</servlet-name>
		<url-pattern>/DelOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PayServlet</servlet-name>
		<url-pattern>/PayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Callback</servlet-name>
		<url-pattern>/Callback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaleListServlet</servlet-name>
		<url-pattern>/SaleListServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiNameServlet</servlet-name>
    <url-pattern>/ValiNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadMsgServlet</servlet-name>
    <url-pattern>/UploadMsgServlet</url-pattern>
  </servlet-mapping>


	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
